<div class="col-lg-12 text-center v-center" ng-controller="LoginCtrl">

                    <h1>Sign Up</h1>
                    <p class="lead">Enter your email to sign-up for our newsletter</p>

                    <br>
                    <br>
                    <br>

                    <form class="col-lg-12">
                        <div class="input-group" style="width: 340px; text-align: center; margin: 0 auto;">
                            <input class="form-control " 
                                placeholder="Please type your username" type="text">
                                <input class="form-control " 
                                placeholder="Please type your password" type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="button">LOG IN</button></span>
                        </div>
                    </form>
                </div>