
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<h2>Dodavanje Agenta</h2>
			<h5>{{getUser().fName}} {{getUser().lName}} - prijavljeni ste
				kao admin</h5>
		</div>
	</div>
	<!-- /. ROW  -->
	<hr>
	<div class="row">
		<div class="col-md-12">
			<!-- Form Elements -->
			<div class="panel panel-default">
				<div class="panel-heading">Unesite sve podatke</div>
				<div data-ng-show="vm.error" style="width: 100%; height: 50px; background-color: red; color: white; text-align: center; font-size: 24px">
					Uspesno sacuvano
				</div>
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<h3>Naziv Agenta</h3>
							<form role="form">
								
								<div class="form-group">
									<label>Alarm Level</label> 
									<select class="form-control" data-ng-model="vm.alarmDef.alarmLevel" >
										<option  value="HIGH">HIGH</option>
										<option  value="MEDIUM">MEDIUM</option>
										<option  value="LOW">LOW</option>
										<option  value="INFO">INFO</option>
									</select>
								</div>
								
								<div class="form-group">
									<label>Level log</label> 
									<select class="form-control" data-ng-model="vm.alarmDef.levelLog" >
										<option  value="FATAL">FATAL</option>
										<option  value="ERROR">ERROR</option>
										<option  value="WARN">WARN</option>
										<option  value="INFO">INFO</option>
										<option  value="DEBUG">DEBUG</option>
										<option  value="TRACE">TRACE</option>
									</select>
								</div>
								
								<div class="form-group">
									<label>max count</label> <input class="form-control" data-ng-model="vm.alarmDef.maxCount">
								</div>
								<div class="form-group">
									<label>min count</label> <input class="form-control" data-ng-model="vm.alarmDef.minCount">
								</div>
								<div class="form-group">
									<label>interval time</label> <input class="form-control" data-ng-model="vm.alarmDef.timeAlarm">
								</div>
						
						
						
								<button type="submit" class="btn btn-default">Odustati</button>
								<button type="reset" class="btn btn-primary" data-ng-click="vm.saveAlarm()">Sacuvati</button>
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
			<!-- End Form Elements -->
		</div>
	</div>
	<!-- /. ROW  -->
	<!-- /. ROW  -->
</div>
<!-- /. PAGE INNER  -->