<div class="row">
	<div class="col-lg-12">
		<h1>Agent_1 <small>Statistics and more</small></h1>
	
		<div class="row">
			<div class="col-lg-12">
				
				<div class="bs-example">
					<div class="alert alert-dismissable alert-warning">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>Warning!</h4>
						<p>Upozorenje za Agent_1, uoceno je povecan broj logova nego uobicajeno.</p>
					</div>
				</div>
				
				<div class="bs-example">
					<div class="alert alert-dismissable alert-danger">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Alarm!</strong> Neocekivani logovi!.
					</div>
				</div>
				
				
			</div>
		</div>
	
	
	
	</div>
</div>