
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<h2>Dodavanje Agenta</h2>
			<h5>{{getUser().fName}} {{getUser().lName}} - prijavljeni ste
				kao admin</h5>
		</div>
	</div>
	<!-- /. ROW  -->
	<hr>
	<div class="row">
		<div class="col-md-12">
			<!-- Form Elements -->
			<div class="panel panel-default">
				<div class="panel-heading">Unesite sve podatke</div>
				
				
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<h3>Naziv Agenta</h3>
							<form role="form">
								<div class="form-group">
									<label>Naziv defincije</label> <input class="form-control" data-ng-model="">
								</div>
								<div class="form-group">
									<label>Alarm Level</label> <selec><option value="" selected="selected">Izaberite</option></selec>
								</div>
								
								<div class="form-group">
									<label>Level log</label> <selec><option value="" selected="selected">Izaberite</option></selec>
								</div>
								
								<div class="form-group">
									<label>max count</label> <input class="form-control" data-ng-model="">
								</div>
								<div class="form-group">
									<label>min count</label> <input class="form-control" data-ng-model="">
								</div>
								<div class="form-group">
									<label>interval time</label> <input class="form-control" >
								</div>
						
						
						<div class="form-group">
									<label>Sifra</label> <input class="form-control" data-ng-model="vm.user.password">
								</div>
						
						
								<button type="submit" class="btn btn-default">Odustati</button>
								<button type="reset" class="btn btn-primary" data-ng-click="">Sacuvati</button>
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
			<!-- End Form Elements -->
		</div>
	</div>
	<!-- /. ROW  -->
	<!-- /. ROW  -->
</div>
<!-- /. PAGE INNER  -->