<div id="page-inner">

	<!-- /. ROW  -->
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<form class="navbar-search">
						<input type="text" placeholder="Search for regular" class="form-control">
						<select class="form-control" data-ng-model="vm.agent" style="width: 20%; float: left;">
							<option value="">Izabrati agenta</option>
							<option ng-repeat="a in vm.admin" value="{{ a.id }}">{{a.username}}</option>
						</select>
						<select class="form-control" data-ng-model="vm.tip" style="width: 20%">
							<option value="">Tip loga</option>
							<option value="">NE RADI OVO JOS</option>
						</select>
						<input type="date" ng-model="vm.startData" placeholder="Od datuma">
						<input type="date" ng-model="vm.endData" placeholder="Do datuma">
						
						<button type="submit" class="btn btn-default" ng-click="vm.search()">Pretrazi</button>
					</form>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Host</th>
									<th>Platforma</th>
									<th>Platforma</th>
									<th>Vreme napada</th>
								</tr>
							</thead>
							
							<tbody data-ng-show="vm.message1" data-ng-repeat="l in vm.log">

								<tr >
									
										<td>1</td>
										<td>{{l.host}}</td>
										<td>{{l.platform}}</td>
										<td>{{l.message}}</td>
										<td>{{l.platform}}</td>
									
								</tr>

							</tbody>
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /. ROW  -->

</div>