<div id="page-inner">
        <div class="row">
          <div class="col-md-12">
            <h2>Pocetna</h2>
            <h5>{{getUser().fName}} {{getUser().lName}} - prijavljen kao {{getUser().role}}</h5>
          </div>
        </div>
        <!-- /. ROW  -->
        <hr>
        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-back noti-box"> <span class="icon-box bg-color-red set-icon"><i class="fa fa-bell-o"></i>
                    
                </span>
              <div class="text-box">
                <p class="main-text">120/1min</p>
                <p class="text-muted">Messages</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="panel panel-back noti-box"> <span class="icon-box bg-color-brown set-icon"><i class="fa fa-bell-o"></i>
                    
                </span>
              <div class="text-box">
                <p class="main-text">120/1h</p>
                <p class="text-muted">Messages</p>
              </div>
            </div>
          </div>
         
          <div class="col-md-3">
            <div class="panel panel-back noti-box"> <span class="icon-box bg-color-green set-icon"><i class="fa fa-warning"></i>
                    
                </span>
              <div class="text-box">
                <p class="main-text">120/1mou</p>
                <p class="text-muted">Messages</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-back noti-box"> <span class="icon-box bg-color-blue set-icon"><i class="fa fa-warning"></i>
                    
                </span>
              <div class="text-box">
                <p class="main-text">120/wik</p>
                <p class="text-muted">Messages</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /. ROW  -->
        <hr>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-back noti-box"> <span class="icon-box bg-color-blue">
                    <i class="fa fa-warning"></i>
                </span>
              <div class="text-box">
                <p class="main-text">52 notifikacije</p>
                <p class="text-muted">Molimo vas proverite statistiku</p>
                <p class="text-muted">Vreme okidanja: 30 min</p>
                <hr>
                <p class="text-muted"> <span class="text-muted color-bottom-txt"><i class="fa fa-edit"></i>
                               Desile su se 52 neovlastene notifikacije u zadnjih 30min proverite da li agenti imaju mrezu</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 ">
            <div class="panel panel-back noti-box"> <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-desktop"></i>
                </span>
              <div class="text-box">
                <p class="main-text">12 aktivnih racunara</p>
              </div>
            </div>
            <p class="text-muted"> <span class="text-muted color-bottom-txt"><i class="fa fa-edit"></i>
                               win2/1 win2/2 win2/3 lun1/10 lun1/11</span></p>
          </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green">
              <div class="panel-body"> <i class="fa fa-bar-chart-o fa-5x"></i>
                <h3>120 GB </h3>
              </div>
              <div class="panel-footer back-footer-green"> Zauzeti prostor logova</div>
            </div>
            <div class="panel panel-primary text-center no-boder bg-color-red">
              <div class="panel-body"> <i class="fa fa-edit fa-5x"></i>
                <h3>20</h3>
              </div>
              <div class="panel-footer back-footer-red">ReÅ¡eni napadi na mrezu</div>
            </div>
          </div>
        </div>
        
        <!-- /. ROW  -->
      </div>
      <!-- /. PAGE INNER  -->