<div class="body tab-content">
			
	<div class="tab-pane clearfix active" id="stats">
		<h5 class="tab-header"><i class="fa fa-calendar-o fa-2x"></i> All user of service</h5>
		<ul class="news-list">
		
			<li>
				<i class="fa fa-user fa-4x pull-left"></i>
				<div class="news-item-info">
					<div class="name">
						<a href="#">Ivan Gorge 
							<span style="position: right; color: green">&#9679;</span>
							<span style="position: right; color: #FF6100">&#9679;</span>
						</a>
					</div>
					<div class="position">Admin</div>
					<div class="time">Online</div>
				</div>
			</li>
			
		</ul>
	</div>

</div>