
<div style="float: left; margin: 1%; border-top: 1px solid #fff; width: 100%; ">
				
	<div ng-repeat="agent in agents">
		<!-- Ovde pocinje prikaz agenta -->
		<div style="float: left; margin: 2%; border: 1px solid #fff; width: 300px; height: 200px; border-radius: 25px;background-color: #BDBDBD">
			<div style="float: left; width: 160px; height: 80%; margin: 3%; ">
				<a href="" ><img src="./image/windows-desktop.png" alt="HTML5 Icon" width="160" height="180"></a>
			</div>
			<!-- Ovde pocinju podaci -->
			<div style="float: right; color: #333; width: 120px; margin: 8% 0 0 -1%">
				<div style="text-align: center">
					<em>{{agent.username}}</em>
				</div>
			</div>
			
			<div style="float: right; color: #333; width: 120px; margin: 8% 0 0 -1%">
				<div style="text-align: center">
					<em>{{agent.username}}</em>
				</div>
			</div>
			
			<div style="float: right; color: #333; width: 120px; margin: 8% 0 0 -1%">
				<div style="text-align: center">
					<em>{{agent.username}}</em>
				</div>
			</div>
			<!-- Ovde se zavrsavaju -->
		</div>
		<!-- Ovde se zavesava -->
	</div>

</div>