<div class="container" ng-controller="LoginCtrl">

	<div class="row" id="pwd-container">
		<h1>WELCOME TO REGISTRATION PAGE</h1>
		<div class="col-md-4"></div>

		<div class="col-md-4">
			<section class="login-form">
				<form method="post" action="#" role="login">
					<input type="text" name="username" placeholder="Username" required
						class="form-control input-lg" style="margin-bottom: 25px;"
						ng-model="user.username" /> <input type="email"
						class="form-control input-lg" id="email"
						ng-model="user.userInformacionDTO.email"
						style="margin-bottom: 25px;" placeholder="Email" /> <input
						type="text" class="form-control input-lg" id="fName"
						ng-model="user.userInformacionDTO.fName"
						style="margin-bottom: 25px;" placeholder="First name" /> <input
						type="text" class="form-control input-lg" id="lName"
						ng-model="user.userInformacionDTO.lName"
						style="margin-bottom: 25px;" placeholder="Last name" /> <input
						type="password" class="form-control input-lg" id="password"
						ng-model="user.pass" style="margin-bottom: 25px;"
						placeholder="Password" />




					<button type="button" name="register" id="registerBtn"
						class="btn btn-lg btn-primary btn-block" ng-click="registerUser()">Log
						in</button>


				</form>

			</section>
		</div>

		<div class="col-md-4"></div>


	</div>




</div>