<form class="navbar-search" ng-controller="LoginCtrl">
	<input type="text" placeholder="Search logs" class="form-control" ng-model="search.value">
	<label class="checkbox-inline">
      <input type="checkbox" value="expression" ng-model="log.isRegular">Regular Expression
    </label>
	<button type="button" name="search" id="search"
						ng-click="searchLogs()">Search</button>
</form>

<div class="radio">
	<label><input type="radio" name="serachType" ng-model="log.fileDto.platform" value="Windows">Windows</label> 
	<label><input type="radio" name="serachType" ng-model="log.fileDto.platform" value="Linux">Linux</label> 
	<label><input type="radio" name="serachType" ng-model="search.type" value="agent">By agent</label>
	<label><input type="radio" name="serachType" ng-model="search.type" value="logLevel">By logLevel</label>	
	<label><input type="radio" name="serachType" ng-model="search.type" value="Date">By Date</label>
</div>